img{width:30%;
    height: vh;
margin-top: 20px;
margin-right: 60%;
border-radius: 100%;}
.div1{margin-left: 55%;}
body{background-color: aliceblue;
text-align: center;
display: grid;
place-items: center;
}
.div{text-align: center;
display: grid;
place-items: center;
background-color: white;
width: 50%;}
.h2{font-size: 25px;}
.h3{display: grid;
place-items: center;}
.hr{color: aqua;}
.img1{width: 50px;
height: 50px;}

.ul{margin: 0px;
    padding: 0px;
    
}